<div
  class="text-sm font-medium text-center text-gray-500 border-b border-gray-200 dark:text-gray-400 dark:border-gray-700"
>
  <ul class="flex flex-wrap -mb-px">
    <li class="me-2">
      <a
        (click)="goToGlobal()"
        routerLink="/"
        class="inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300"
        [class]="isPage ? ' text-[#a855f7] border-[#7e3bbd] ' : ''"
        >Global Feed</a
      >
    </li>
    <li class="me-2" *ngIf="feedService.currentTag">
      <a
        [class]="!isPage ? ' text-[#a855f7] border-[#7e3bbd] ' : ''"
        class="cursor-pointer inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300"
        ># {{ feedService.currentTag }}</a
      >
    </li>
    <li class="me-2">
      <a
        *ngIf="isUser$ | async"
        (click)="goToYourFeed()"
        routerLink="/"
        [queryParams]="{ page: 'your-feed' }"
        routerLinkActive=" text-[#a855f7] border-[#7e3bbd] "
        class="inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300"
        aria-current="page"
        >Your Feed</a
      >
    </li>
  </ul>
</div>
