/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #a855f7;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(168, 85, 247, 0.5);
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.password-eye {
  position: absolute;
  top: 2px;
  right: 1rem;
  height: 2rem;
  width: 2rem;
}
